---
title: "Elegant Kitchens | Your Modern Kitchen Experts | Palm Beach, Florida"
description: "Elegant Kitchens specializes in modern kitchen design and renovation. Transform your kitchen with our expert services in Palm Beach, Florida."
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1619">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">
        <svg
          class="cs-chevron"
          width="49"
          height="15"
          viewBox="0 0 49 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g opacity="0.7">
            <path
              d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z"
              fill="var(--chevronColor)"
            />
          </g>
        </svg>
        Plan for A secure future
        <svg
          class="cs-chevron"
          width="49"
          height="15"
          viewBox="0 0 49 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g opacity="0.7">
            <path
              d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z"
              fill="var(--chevronColor)"
            />
            <path
              d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z"
              fill="var(--chevronColor)"
            />
          </g>
        </svg>
      </span>
      <h1 class="cs-title">Your Modern Kitchen Experts</h1>
      <p class="cs-text">
        We specialize in creating modern, elegant kitchens that transform your
        home. From custom cabinetry to state-of-the-art appliances, Elegant
        Kitchens is your partner in crafting the kitchen of your dreams.
      </p>
      <a href="" class="cs-button-solid">Get A Quote</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/check-circle.svg"
          alt="icon"
          width="48"
          height="48"
        />
        <h3 class="cs-h3">Award-Winning Designs</h3>
        <p class="cs-item-text">
          Our Palm Beach kitchen designs have won multiple local and national
          awards for innovation and luxury.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/speedometer.svg"
          alt="icon"
          width="48"
          height="48"
        />
        <h3 class="cs-h3">20+ Years Experience</h3>
        <p class="cs-item-text">
          With over two decades of experience, we've perfected the art of luxury
          kitchen design in Palm Beach.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg"
          alt="icon"
          width="48"
          height="48"
        />
        <h3 class="cs-h3">100% Client Satisfaction</h3>
        <p class="cs-item-text">
          Our commitment to excellence ensures that every Palm Beach client is
          thrilled with their new kitchen.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg"
          alt="icon"
          width="48"
          height="48"
        />
        <h3 class="cs-h3">Local Palm Beach Experts</h3>
        <p class="cs-item-text">
          As Palm Beach natives, we understand the unique style and needs of
          Florida's luxury homes.
        </p>
      </li>
    </ul>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg" />
    <img
      decoding="async"
      src="/assets/images/landing.jpg"
      alt="Modern kitchen design"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->
<section id="sbs-1099">
  <div class="cs-container">
    <div class="cs-image-group">
      <!--Top left image-->
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="Elegant kitchen design"
          width="323"
          height="447"
        />
      </picture>
      <!--Bottom right image-->
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="Modern kitchen design"
          width="305"
          height="441"
        />
      </picture>
    </div>
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">Elegant Kitchens: Your Modern Kitchen Experts</h2>
      <p class="cs-text">
        Elegant Kitchens is a family-owned and operated business with over 23
        years of experience in crafting modern, elegant kitchens. We combine
        generations of expertise with a passion for innovative design, ensuring
        that each kitchen we build is both beautiful and functional.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <h3 class="cs-h3">Our Mission</h3>
          <p class="cs-li-text">
            At Elegant Kitchens, our mission is to transform your kitchen into
            the heart of your home. We specialize in custom cabinetry,
            state-of-the-art appliances, and innovative designs that blend style
            and functionality.
          </p>
        </li>
        <li class="cs-li">
          <h3 class="cs-h3">Why Choose Us</h3>
          <p class="cs-li-text">
            With over 23 years of experience, we bring decades of expertise to
            every project. We use only the best materials to ensure durability
            and beauty in every kitchen, and our innovative designs combine
            functionality and aesthetics to create stunning spaces.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1301">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Our Services</span>
        <h2 class="cs-title">Expert Kitchen Design & Remodeling Services</h2>
      </div>
      <p class="cs-text">
        At Elegant Kitchens, we offer a comprehensive range of services to
        transform your kitchen into a beautiful and functional space. Our team
        of experts combines years of experience with innovative design to create
        the kitchen of your dreams.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="/assets/svgs/service1.svg"
            loading="lazy"
            decoding="async"
            alt="Custom Cabinetry icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Custom Cabinetry</h3>
          <p class="cs-item-text">
            We design and build custom cabinets tailored to your style and
            needs, ensuring a perfect fit for your kitchen space.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="/assets/svgs/service2.svg"
            loading="lazy"
            decoding="async"
            alt="Kitchen Remodeling icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Kitchen Remodeling</h3>
          <p class="cs-item-text">
            Transform your kitchen with our comprehensive remodeling services,
            from layout changes to finishing touches.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="/assets/svgs/service3.svg"
            loading="lazy"
            decoding="async"
            alt="Appliance Installation icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Appliance Installation</h3>
          <p class="cs-item-text">
            Expert installation of all your kitchen appliances for a seamless
            look and optimal functionality.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="/assets/svgs/service1.svg"
            loading="lazy"
            decoding="async"
            alt="Lighting Design icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Lighting Design</h3>
          <p class="cs-item-text">
            Create the perfect ambiance with our custom lighting solutions,
            enhancing both functionality and aesthetics.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1710">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Why Choose Us</span>
      <h2 class="cs-title">Transform Your Kitchen with Elegant Kitchens</h2>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-item-number">01</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Over 23 Years of Experience</h3>
            <p class="cs-item-text">
              We bring decades of expertise to every project, ensuring
              high-quality results.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">02</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">High-Quality Materials</h3>
            <p class="cs-item-text">
              We use only the best materials to ensure durability and beauty in
              every kitchen.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">03</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Innovative Designs</h3>
            <p class="cs-item-text">
              Our designs combine functionality and aesthetics to create
              stunning kitchens.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">04</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Custom Cabinetry</h3>
            <p class="cs-item-text">
              We specialize in custom cabinetry tailored to your needs and style
              preferences.
            </p>
          </div>
        </li>
      </ul>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-item-number">05</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Comprehensive Services</h3>
            <p class="cs-item-text">
              From design to installation, we offer a full range of kitchen
              remodeling services.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">06</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Exceptional Communication</h3>
            <p class="cs-item-text">
              We pride ourselves on clear, consistent communication throughout
              your project.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">07</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Stress-Free Process</h3>
            <p class="cs-item-text">
              Our expertise ensures a smooth, worry-free kitchen transformation
              experience.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!---SVG Graphic-->
    <img
      class="cs-floater"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg"
      alt="graphic"
      loading="lazy"
      decoding="async"
      height="710"
      aria-hidden="true"
      width="690"
    />
  </div>
  <picture class="cs-picture">
    <source media="(min-width: 1024px)" srcset="/assets/images/cabinets2.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="Elegant kitchen remodel"
      width="1280"
      height="620"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->
<section id="gallery-43">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Work</span>
      <h2 class="cs-title">Elegant Kitchen Transformations</h2>
      <p class="cs-text">
        Explore our portfolio of stunning kitchen renovations. Each project
        showcases our commitment to quality, innovative design, and attention to
        detail. From custom cabinetry to state-of-the-art appliances, we create
        beautiful and functional spaces tailored to our clients' needs.
      </p>
    </div>
    <div class="cs-image-group">
      <!-- Image 1 -->
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/landing-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="assets/images/landing-m.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/landing-m.webp"
            alt="Modern kitchen design"
            width="346"
            height="346"
          />
        </picture>
        <!-- Hover Box -->
        <div class="cs-hover-box">
          <picture class="cs-icon">
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
              alt="arrow right"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Custom Cabinetry</h3>
          <p class="cs-hover-box-text">
            Tailored cabinetry solutions designed to maximize space and style in
            your kitchen.
          </p>
        </div>
      </a>
      <!-- Image 2 -->
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="assets/images/landing-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="assets/images/landing-m.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/landing-m.webp"
            alt="Kitchen remodeling"
            width="346"
            height="346"
          />
        </picture>
        <!-- Hover Box -->
        <div class="cs-hover-box">
          <picture class="cs-icon">
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
              alt="arrow right"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Kitchen Remodeling</h3>
          <p class="cs-hover-box-text">
            Comprehensive kitchen transformations that blend style and
            functionality.
          </p>
        </div>
      </a>
      <!-- Image 3 -->
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="assets/images/landing-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="assets/images/landing-m.webp"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="assets/images/landing-m.webp"
            alt="Appliance installation"
            width="346"
            height="346"
          />
        </picture>
        <!-- Hover Box -->
        <div class="cs-hover-box">
          <picture class="cs-icon">
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
              alt="arrow right"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Appliance Installation</h3>
          <p class="cs-hover-box-text">
            Expert installation of state-of-the-art kitchen appliances for
            optimal functionality.
          </p>
        </div>
      </a>
      <!-- Image 4 -->
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="assets/images/landing-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="assets/images/landing-m.webp"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="assets/images/landing-m.webp"
            alt="Countertop installation"
            width="346"
            height="346"
          />
        </picture>
        <!-- Hover Box -->
        <div class="cs-hover-box">
          <picture class="cs-icon">
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
              alt="arrow right"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Countertop Installation</h3>
          <p class="cs-hover-box-text">
            High-quality countertop options professionally installed for
            durability and style.
          </p>
        </div>
      </a>
      <!-- Image 5 -->
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="assets/images/landing-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="assets/images/landing-m.webp"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="assets/images/landing-m.webp"
            alt="Lighting design"
            width="346"
            height="346"
          />
        </picture>
        <!-- Hover Box -->
        <div class="cs-hover-box">
          <picture class="cs-icon">
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
              alt="arrow right"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Lighting Design</h3>
          <p class="cs-hover-box-text">
            Custom lighting solutions to create the perfect ambiance in your
            kitchen.
          </p>
        </div>
      </a>
      <!-- Image 6 -->
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="assets/images/landing-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="assets/images/landing-m.webp"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="assets/images/landing-m.webp"
            alt="Complete kitchen renovation"
            width="346"
            height="346"
          />
        </picture>
        <!-- Hover Box -->
        <div class="cs-hover-box">
          <picture class="cs-icon">
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
              alt="arrow right"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Complete Kitchen Renovation</h3>
          <p class="cs-hover-box-text">
            Comprehensive kitchen transformations that blend style,
            functionality, and innovation.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-355">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Trusted by Homeowners Across Palm Beach</h2>
      <p class="cs-text">
        At Elegant Kitchens, we take pride in transforming kitchens and
        exceeding our clients' expectations. Don't just take our word for it -
        hear what our satisfied customers have to say about their experience
        with us.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="33"
        />
        <p class="cs-review">
          Elegant Kitchens transformed our old kitchen into a modern
          masterpiece! The attention to detail and quality of work exceeded our
          expectations. We couldn't be happier with the results and highly
          recommend their services to anyone looking to upgrade their kitchen.
        </p>
        <span class="cs-name">John Doe</span>
        <span class="cs-job">Homeowner</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="33"
        />
        <p class="cs-review">
          The team at Elegant Kitchens was professional and attentive to our
          needs from start to finish. They listened to our ideas and provided
          valuable suggestions to enhance the design. The final product is
          stunning, and we receive compliments from everyone who visits our
          home.
        </p>
        <span class="cs-name">Jane Smith</span>
        <span class="cs-job">Satisfied Customer</span>
      </li>
      <li class="cs-item">
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="33"
        />
        <p class="cs-review">
          We love our new kitchen. The quality and craftsmanship are
          outstanding. Elegant Kitchens made the entire process stress-free and
          enjoyable. Their expertise and dedication to customer satisfaction are
          truly commendable. We highly recommend them!
        </p>
        <span class="cs-name">Michael Johnson</span>
        <span class="cs-job">Happy Client</span>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-350">
  <div class="cs-container">
    <div class="cs-left">
      <!--Big Image-->
      <picture class="cs-picture cs-picture1" aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/construction-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/construction.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/construction.jpg"
          alt="Kitchen construction"
          width="672"
          height="672"
        />
      </picture>
      <!--Medium Image-->
      <picture class="cs-picture cs-picture2" aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="Kitchen remodeling"
          width="300"
          height="300"
        />
      </picture>
      <!--Small Image-->
      <picture class="cs-picture cs-picture3" aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/landing-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/landing.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/landing.jpg"
          alt="Kitchen design"
          width="200"
          height="200"
        />
      </picture>
    </div>
    <div class="cs-content">
      <span class="cs-topper">Asked questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <ul class="cs-faq-group">
        <li class="cs-faq-item active">
          <button class="cs-button">
            <span class="cs-button-text">
              How long does a kitchen remodel take?
            </span>
          </button>
          <p class="cs-item-p">
            The duration of a kitchen remodel can vary, but on average, it takes
            about 4-6 weeks.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text"> Do you offer custom cabinetry? </span>
          </button>
          <p class="cs-item-p">
            Yes, we specialize in custom cabinetry tailored to your needs and
            style preferences.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text"> What areas do you serve? </span>
          </button>
          <p class="cs-item-p">
            We serve Palm Beach and surrounding areas in Florida.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is the cost of a kitchen remodel?
            </span>
          </button>
          <p class="cs-item-p">
            The cost of a kitchen remodel depends on the size of the kitchen,
            materials used, and the complexity of the design.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">Do you provide design services?</span>
          </button>
          <p class="cs-item-p">
            Yes, we offer comprehensive design services to help you create your
            dream kitchen.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
